<div>
  <%= flash[:notice] %>
</div>

<h2>title</h2>
<p><%= @books.title %></p>

<h2>本文</h2>
<p><%= @books.body %></p>

<%= link_to "edit", edit_book_path(@books.id) %>
 |
<%= link_to "Back", "https://db3da88cb43a444c9e612b5fceb7c1f0.vfs.cloud9.ap-northeast-1.amazonaws.com/books" %>
<!--%= link_to "削除", book_path(@books.id), method: :delete, "data-confirm" => " get ready to delete？" %>-->
<!--%= link_to "削除", destroy_list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>--